{% extends 'layout.html' %}
{% block header %}
<div class="logo">
	<div class="wrap center-block">
		<figure class="image isotipo left">
			<img src=" {{STATIC_URL}}img/logo.png " alt="Torneo">
		</figure>
	</div>
	<div class="name center-text">
		<h2 class="title-torneo">{{ title|upper }}</h2>
	</div>
</div>
<a href="" class="button-menu icon-menu"></a>
<nav class="menu">
	<ul class="list center-block wrap">
		<li class="item"><a href="/">Home</a></li>
		<li class="item"><a href="{% url 'matches.views.viewfixture' eventId %}">Fixture</a></li>
		<li class="item"><a href="{% url 'players.views.playesGoals' eventId %}">Goleadores</a></li>
		<li class="item"><a href="">Amonestados</a></li>
		<li class="item"><a href="{% url 'images.views.viewimage' eventId %}">Fotos</a></li>
		<li class="item"><a href="">Login</a></li>
		<li class="item"><a href="">Contactanos</a></li>
	</ul>
</nav>
<div class="title">
	<span>
		{{ title }}
	</span>
	</div>
{% endblock %}

{% block content %}
<div class="pictures right">
	<div class="events padding">
		<figure class="image relative">
			<img src="{{MEDIA_URL}}event/dpeInf.jpg" width="320" height="200" alt="">
		</figure>
	</div>
	<div class="events padding">
		<figure class="image relative">
			<img src="{{MEDIA_URL}}event/da.jpg" width="320" height="200" alt="">
		</figure>
	</div>
	<div class="events padding">
		<figure class="image relative">
			<img src="{{MEDIA_URL}}event/sg.jpg" width="320" height="200" alt="">
		</figure>
	</div>
</div>
{% endblock %}